
<div class="add-form-conteiner">

    <div class="image-preview">
        <label>Imagem:</label>
        <img src="{{book.img}}" alt="Aqui aparecerá a imagem" id="img">
        {{#if empityBooks}}
            <form action="/books/cart/remove/{{book.id}}" method="post">
                <input type="submit" value="Remover do carrinho" class="remove">
            </form>
        {{/if}}
    </div>
    
    <form action="/books/cart/{{book.id}}" method="post">        
        <a href="/books/cart">Carrinho</a>
        <h1>Detalhes do Livro:</h1>
        <div class="details-control">
            <label for="title">Livro:</label>
            <input type="text" name="title" placeholder="Digite um Titulo" value="{{book.title}}">
        </div>
        <div class="details-control">
            <label for="autor">Autor:</label>
            <input type="text" name="autor" placeholder="Digite o nome do autor" value="{{book.autor}}">
        </div>
        <div class="details-control">
            <label for="year">Ano:</label>
            <input type="text" name="year" placeholder="Digite o ano de lançamento" value="{{book.year}}">
        </div>
        <div class="details-control">
            <label for="descripition">Descrição:</label>
            <textarea name="descripition" placeholder="Digite a descrição do livro">{{book.descripition}}</textarea>
        </div>
        {{#if session.userid}}
            {{#if session.admin}}
            {{else}}
                <input type="submit" value="Add Ao Carrinho" class="btn">
            {{/if}}
        {{/if}}
        
    </form>
</div>

<script>
    document.getElementById("imgurl").addEventListener("input", function(event) {
        const imgUrl = document.getElementById("imgurl").value
        const preview = document.getElementById("img")
        
        if(imgUrl) {
            preview.src = imgUrl
            preview.alt = "Imagem carregada"
        } else {
            preview.src = ""
            preview.alt = "A imagem aparecerá aqui"
        }
    })
</script>
